<div id="content" class="wrapper clearfix">
	<h2>S'enregistrer</h2>
	<section class="colonnes">
		<div class="pub">
			<a href="http://www.vertbaudet.fr/" title='verbaudet'><img src="img/vertbaudet.jpg" alt="publicité nestlé"></a>
		</div>	
	</section>
	<form action="/addUser" method="post" autocomplete="on" class="wrapper" id="addUser">
		<div class="box-infos clearfix">
			<div class="infos-gauche">
				<span>Nom</span><br>	
				<span>Prenom</span><br>
				<hr>
				<span>idSocle</span><br>
				<hr>	
				<span>Mail</span><br>
				<span>Téléphone</span><br>
				<span>twitter</span><br>
				<span>facebook</span><br>
				<hr>
				<span>mot de passe</span><br>
				<span>Retapez votre mot de passe</span>
			</div>
			<div class="infos-droite">
				<span><input type="text" name="nom" value="" class="champ"></span><br>
				<span><input type="text" name="prenom" value="" class="champ"></span><br>
				<hr>
				<span><input type="text" name="idsocle" value="" class="champ"></span><br>
				<hr>
				<span><input type="email" name="mail" value="" class="champ"></span><br>
				<span><input type="text" name="tel" value="" class="champ"></span><br>
				<span><input type="text" name="twitter" value="" class="champ"></span><br>
				<span><input type="text" name="facebook" value="" class="champ"></span><br>
				<hr>
				<span><input type="password" name="password" value="" class="champ"></span><br>
				<span><input type="password" name="verif" value="" class="champ"></span>
			</div>
		</div>
		<input type="submit" value="Inscrivez-vous!" class="valid clearfix"/>
	</form>
</div>
