<form action="/addUser" method="post" autocomplete="on">
	<p><span>Nom</span></p>		
	<input type="text" name="nom" value="" class="champ">
	<p><span>Prenom</span></p>
	<input type="text" name="prenom" value="" class="champ">
	<p><span>idSocle</span></p>
	<input type="text" name="idsocle" value="" class="champ">
	<p><span>Mail</span></p>
	<input type="text" name="mail" value="" class="champ">
	<p><span>Téléphone</span></p>
	<input type="text" name="tel" value="" class="champ">
	<p><span>twitter</span></p>
	<input type="text" name="twitter" value="" class="champ">
	<p><span>facebook</span></p>
	<input type="text" name="facebook" value="" class="champ">
	<input type="submit" value="Inscrivez-vous!" class="valid"/>
</form>
