<form action="/admin" method="post" autocomplete="on">
	<p><span>IdSocle</span></p>		
	<input type="text" name="idSocle" value="" class="champ">
	<p><span>Cube1</span></p>
	<input type="text" name="Cube1" value="" class="champ">
	<p><span>Cube2</span></p>
	<input type="text" name="Cube2" value="" class="champ">
	<p><span>Cube3</span></p>
	<input type="text" name="Cube3" value="" class="champ">
	<p><span>Cube4</span></p>
	<input type="text" name="Cube4" value="" class="champ">
	<p><span>Cube5</span></p>
	<input type="text" name="Cube5" value="" class="champ">
	<input type="submit" value="Inscrivez-vous!" class="valid"/>
</form>
