<form action="/admin" method="post" autocomplete="on">
	<p><span>IdSocle</span></p>		
	<input type="text" name="idSocle" value="" class="champ" required>
	<p><span>Cube1</span></p>
	<input type="text" name="Cube1" value="" class="champ" required>
	<input type="text" name="rfid1" value="" class="champ" required>
	<p><span>Cube2</span></p>
	<input type="text" name="Cube2" value="" class="champ" required>
	<input type="text" name="rfid2" value="" class="champ" required>
	<p><span>Cube3</span></p>
	<input type="text" name="Cube3" value="" class="champ" required>
	<input type="text" name="rfid3" value="" class="champ" required>
	<p><span>Cube4</span></p>
	<input type="text" name="Cube4" value="" class="champ" required>
	<input type="text" name="rfid4" value="" class="champ" required>
	<p><span>Cube5</span></p>
	<input type="text" name="Cube5" value="" class="champ" required>
	<input type="text" name="rfid5" value="" class="champ" required>
	<input type="submit" value="Inscrivez-vous!" class="valid"/>
</form>
