<form action="/admin" method="post" autocomplete="on">
	<p><span>IdSocle</span>	
	<input type="text" name="idSocle" value="" class="champ" required></p>	
	<p><span>Cube1 </span>
	<input type="text" name="rfid1" value="rfid" class="champ" required></p>
	<p><span>Cube2 </span>
	<input type="text" name="rfid2" value="rfid" class="champ" required></p>
	<p><span>Cube3 </span>
	<input type="text" name="rfid3" value="rfid" class="champ" required></p>
	<p><span>Cube4 </span>
	<input type="text" name="rfid4" value="rfid" class="champ" required></p>
	<p><span>Cube5 </span>
	<input type="text" name="rfid5" value="rfid" class="champ" required>
	<input type="submit" value="Ajout du socle" class="valid"/></p>
</form>
