<div class="wrapper">
	<div id="content">
	</br>
	</br>
	<h3>Vous avez une suggestion, un problème ou vous voulez tout simplement nous adresser un message, faite le ici !</h3>	
		<form action="" method="post">
			<fieldset>
				<p class="double">
					<label for="prenom">Votre nom</label></br>
					<input type="text" name="prenom" value="Entrez votre nom ici" onFocus="javascript:this.value=''" pattern="[a-zA-Z]+"/>   
				</p>
				<p class="double">
					<label for="email">Votre adresse e-mail</label></br>
					<input type="email" name="email" value="Entrez votre e-mail ici" onFocus="javascript:this.value=''"/>   
				</p>
				<p class="double">
					<label for="objet">L'objet du message</label></br>
					<input type="text" name="objet" value="Entrez l'objet du message ici" onFocus="javascript:this.value=''" pattern="[a-zA-Z]+"/>   
				</p>
				<p class="double">
				<label for="demande">Votre message</label></br>
				<textarea name="demande" rows="4" cols="40" value="">
				</textarea>
				</p>		
				<input type="submit" value="Envoyer">								
			</fieldset>
		</form>	
	</div>		
</div>