<div class="wrapper">
	<div id="content">
	<br />
	<br />
	<h1>Foire aux questions</h1>
	<h2>Pourquoi mon Cubi'Z ne fonctionne pas correctement lorsque je viens juste de le sortir de sa boite ?</h2>
	<p>Pour que votre Cubi'Z soit pleinement fonctionnel, il est impératif de configurer votre compte. Ainsi, après vous être inscrit sur la <a href="#">page d'inscription</a>, vous devez vous connecter à votre <a href="#">espace maman</a> pour configurer vos cub'z et vos moyens de contact (Twitter, SMS et e-mail).</p>
	<br />
	<h2>Je souhaite avoir plus de cub'z pour mon enfant, comment faire ?</h2>
	<p>Pour celà, il vous suffit de commander notre pack de 5 cubes supplémentaires sur notre site internet ou en magasin. Connectez-vous ensuite à votre <a href="#">espace maman</a> pour relier le pack de cub'z à votre socle Cubi'Z. Paramétrez ensuite les messages et les modes d'envoi dans votre espace.</p>	
	<br />
	<h2>Mes cub'z sont bien détectés par mon socle mais je ne reçois aucun message...</h2>
	<p>Pour recevoir vos messages de notifications sur Twitter, par SMS ou par e-mail, votre socle Cubi'Z doit être connecté à Internet. Verifiez que le cable réseau est bien connecté au socle.</p>
	<br />
	<h2>Cubi'Z fonctionne-t-il en WiFi ?</h2>
	<p>Le socle Cubi'Z ne fonctionne qu'en connexion filaire. Le produit sera compatible WiFi ultérieurement.</p>
	<br />
	<h2>Combien de temps mon socle Cubi'Z est-il garanti ?</h2>
	<p>Le socle Cubi'Z est garanti 1 an à compter de sa date d'enregistrement dans votre espace maman.</p>
	</div>		
</div>