<div id="content">
	<div id="home">
		
	<article  class="clearfix impair nuage">
		<div class="wrapper">
			<section>
				<h1>Débuter avec Cubi’Z</h1>
				<p>Une fois votre Cubi’Z acheté, vous avez accès à votre zone membre sur le site. Cette page membre vous permet de créer vos propres alertes en fonctions des activités de votre enfant. </p>
			</section>	
			<figure class="socle img11">
			</figure>
		</div>
	</article>
	
	<article  class="clearfix pair">
		<div class="wrapper">
			<section>
				<h1>L‘espace maman</h1>
				<p>Une fois connectée, renseigner les informations nécessaire pour que le service fonctionne.</p>
				<h2>Renseigner vos informations</h2>
				<ul>
					<li><span>Votre nom et prénom</span></li>
					<li><span>Votre numéro de portable</span></li>
					<li><span>Votre e-mail, compte Twitter, compte Facebook</span></li>
					<li><span>Le prénom de votre enfant</span></li>
				</ul>
				<p>Ces informations permettent le contact entre votre enfant et vous grâce à la borne Cubi’Z.</p>
			</section>	
			<figure class="img12">
			</figure>
		</div>	
	</article>	
	<article  class="clearfix impair nuage configuration">
		<div class="wrapper">
			<section>
				<h1>Configuration des Cube’z</h1>
				<p>Chaque Cube’z possède un numéro inscrit sur la face inférieur. Ce numéro vous permet de définir une activité pour ce cube. Pour personnaliser les messages rendez-vous sur l’espace membres.</p>
				<h2>Définir une activité par cube</h2>
				<p>Une fois dans l’espace membre, ajouter une activité grâce au bouton «ajout». Vous devez donc rentrer le nom de cette activité ainsi que le numéro du Cube’z associé.Lorsque votre enfant passera le Cube’z devant le socle vous saurez donc précisément quelle activité il est en train de réaliser. Ce système vous laisses une grande liberté de choix et par conséquent une importante précision sur votre enfant quand vous n’êtes pas à ses côtés.</p>
			</section>		
			<figure class="img13"></figure>
		</div>	
	</article>
	
	<article  class="clearfix pair ludique">
		<div class="wrapper">
			<section>
				<h1>Un outil ludique</h1>
				<p>Une fois configuré rien de plus facile que de se servir de Cubi’Z !</p>
				<p>Il suffit que la nounou, baby sitter, sa grand-mère ou tout autre personne qui garde votre enfant passe un Cube’z devant le socle pour que vous sachiez ce qu’il est en train de faire.</p>
				<p>Vous pouvez recevoir cette alerte par sms, par e-mail ou encore via Twitter !</p>
				<p>Il ne vous aura jamais été aussi simple d’être proche de votre enfant. Même quand vous n’êtes pas physiquement avec votre enfant vous restée êtes connectés.</p>
			</section>	
			<figure class="img14">
			</figure>
		</div>	
	</article>
	
	<article class="clearfix impair nuage">
		<div class="wrapper">
			<section>
				<h1>Être informée en permanence</h1>
				<p>Quand vous êtes au bureau, en sortie entre copines, en train de faire du shopping ou encore en diné romantique avec votre homme soyez informer en permanence de ce que fait votre enfant.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo dui, ullamcorper ac mattis non, sollicitudin ut risus. Donec mi est, mattis et tristique a, placerat hendrerit lorem. Aliquam consectetur convallis nisl non hendrerit. Nulla facilisi. Sed euismod ultricies diam, non ornare augue tincidunt vitae. Maecenas at diam erat. Phasellus in nulla sit amet purus </p>
			</section>	
			<figure class="img15">
			</figure>
		</div>	
	</article>
	
	<article  class="clearfix pair">
		<div class="wrapper">
			<section>
				<h1>Comme si vous y étiez</h1>
				<p>Maintenant vous pouvez savoir ce qu’il se passe quand vous n’êtes pas là ! fini les inquiétudes, plus de culpabilité.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo dui, ullamcorper ac mattis non consectetur vestibulum ut eu leo. Integer a ligula urna, ut porttitor massa.</p>
				<a href="fonctionnement.html" title="page fonctionnement" class="bouton-produit"><img src="img/obtenir-produit.png" alt="obtenir produit"></a>
				<figure class="img17">
				</figure>
				
			</section>	
			<figure class="img16">
			</figure>
		</div>
	</article>
	
</div>	<!-- fermeture div home -->	
</div>	<!-- fermeture div content -->