<div id="content">
	<div id="home">
		
	<article  class="clearfix impair nuage">
		<div class="wrapper">
			<section>
				<h1>Votre Pack Cubi’Z</h1>
				<span>Votre pack Cubi’z est constitué de plusieurs éléments :</span>
					<ul>
						<li><span>Un socle contenant un capteur RFID</span></li>
						<li><span>5 cubes contenant chacun une puce RFID</span></li>
						<li><span>20 autocollants avec chacun la représentation d’une activité quotidienne</span></li>
					</ul>	
			</section>	
			<figure class="socle img11">
			</figure>
		</div>
	</article>
	
	<article  class="clearfix pair">
		<div class="wrapper">
			<section>
				<h1>L’espace Maman</h1>
				<span>Une fois inscrite sur votre espace maman, vous avez accès à trois pages :</span>
				<ul>
					<li><span>L’espace Mes actualités qui regroupe les derniers messages Cubi’z que vous avez reçue</span></li>
					<li><span>L’espace Mes Cub’z qui vous permet de configurer le message et le type de média associé à chacun des cubes</span></li>
					<li><span>Votre e-mail, compte Twitter, compte Facebook</span></li>
					<li><span>L’espace Mes infos qui regroupe l’ensemble de vos informations personnelles</span></li>
				</ul>
			</section>	
			<figure class="img12">
			</figure>
		</div>	
	</article>	
	<article  class="clearfix impair nuage configuration">
		<div class="wrapper">
			<section>
				<h1>Configurer et libeller vos cubes</h1>
				<p>C’est le moment de configurer vos cub’z afin de débuter l’expérience Cubi’z. Commencez par libeller les cubes à l’aide des autocollants prévus à cet effet. N’oubliez pas, chacun doit correspondre à une activité quotidienne de votre enfant afin qu’il s’y retrouve lorsqu’il dépose les cubes lui-même. Une fois cette étape terminé, rendez vous sur votre espace maman.</p> 
				<p>Vous pouvez configurer vos cubes de couleur en cliquant sur leurs icones dans votre espace mes Cub’z. Rédigez alors le message que vous souhaitez recevoir et sur quel média (Twitter, Email, SMS).</p>
				<p>Voilà vous êtes prêtes !</p>
			</section>		
			<figure class="img13"></figure>
		</div>	
	</article>
	
	<article  class="clearfix pair ludique">
		<div class="wrapper">
			<section>
				<h1>Un outil ludo-pédagogique</h1>
				<p>Et vos enfants aussi sont prêts. Cubi’z a une fonction pédagogique et ludique qui passe par l’idée de communiquer. Au début, les tout petits devront être accompagnés afin d’utiliser Cubi’z correctement. Mais au fur et à mesure, ils apprendront comment associer leurs activités aux cubes correspondants. Puis, ils comprendront que cette action entraîne l’envoie d’un message dont vous êtes la réceptrice.</p> 
				<p>Et enfin, grâce aux autocollants avec les mots à la place des pictogrammes, vos enfants apprendront à lire tout en communiquant.</p>
			</section>	
			<figure class="img14">
			</figure>
		</div>	
	</article>
	
	<article class="clearfix impair nuage">
		<div class="wrapper">
			<section>
				<h1>Choisissez vos médias de réception</h1>
				<p>Grâce à Cubi’z vous pouvez visualiser vos message via plusieurs médias. Twitter, le fameux réseau social de mini blogging vous permet de recevoir des messages personnalisés. Nous mettons également à votre disposition un service SMS en partenariat avec Bouygue Télécom. Enfin, vous pouvez recevoir des emails directement dans votre boîte mail.</p>
			</section>	
			<figure class="img15">
			</figure>
		</div>	
	</article>
	
	<article  class="clearfix pair">
		<div class="wrapper">
			<section>
				<h1>Cubi’z à votre disposition</h1>
				<p>Voilà, vous savez tout sur Cubi’z. Si souhaitez des renseignements supplémentaires, vous pouvez nous contacter via le formulaire <a href="/contact" title="Page contact">contact</a> ou sur notre <a href="https://www.facebook.com/pages/CubiZ/276623392388235" target="_blank" title="Notre page Facebook">Facebook</a>.</p>
				<p>Vous pouvez également nous suivre sur Twitter, les messages des mamans les plus créatifs seront retwittés et des informations sur l’évolution de Cubi’z régulièrement postés.</p>

				<a href="fonctionnement.html" title="page fonctionnement" class="bouton-produit"><img src="img/obtenir-produit.png" alt="obtenir produit"></a>
				<figure class="img17">
				</figure>
				
			</section>	
			<figure class="img16">
			</figure>
		</div>
	</article>
	
</div>	<!-- fermeture div home -->	
</div>	<!-- fermeture div content -->