<div class="wrapper">
	<div id="login">
		<ul>
			<a href="/login" title=""><li>Connexion</li></a>
			<div id="barre-login"></div>
			<a href="/addUser" title=""><li>S'enregistrer</li></a>
		</ul>	
	</div>	
	<header>
		<nav>
			<ul class="clearfix">
				<a href="/admin">Ajouter un socle</a>
				<li><a href="#" title="">Accueil</a></li>
				<li><a href="#" title="">Fonctionnement</a></li>
				<li><a href="#" title="">Produits</a></li>
				<li><a href="#" title="">Contact</a></li>
			</ul>		
		</nav>	
		<hr/>
	</header>
	<div id="content">
		<article  class="clearfix">
			<section>
				<h1>Débuter avec Cubi’Z</h1>
				<p>Une fois votre Cubi’Z acheté, vous avez accès à votre zone membre sur le site. Cette page membre vous permet de créer vos propres alertes en fonctions des activités de votre enfant.</p>
				<h2>Récupérer votre mot de passe</h2>
				<p>Pour accéder à l’espace membre entrer votre e-mail, ainsi que le mot de passe situé sous le socle Cubi’Z. (numéro à 15 chiffres)</p>
			</section>	
			<figure class="socle">
				<img src="img/socle.jpg" alt="">
			</figure>
			<div class="rond1">
				<p>1</p>
			</div>
			<div class="cercle2">
			</div>
		</article>
		<div class="serie">
			<p>34957 92641 03837</p>
		</div>
<!-- affichage de la fenêtre de connexion exemple -->			
		<div class="fenetre">
			<h1>Espace membres</h1>
			<p class="titrechamp1">VOTRE E-MAIL</p>
				<div class="champ1">
					<p><span>E-mail</span></p>
				</div>
			<p class="titrechamp2">VOTRE MOT DE PASSE <span>(où trouver ce numéro ?)</span></p>
				<div class="champ2">
					<p><span>********</span></p>
				</div>
			<p class="mdp">Mot de passe oublié ?</p>
			<div class="valider">
				<p>Valider</p>
			</div>
			<div class="icone1">
			</div>
			<div class="icone2">
				<p><strong>X</strong></p>
			</div>
			<div class="cercle1">
			</div>
		</div>	
		<article  class="clearfix">
			<section>
				<h1>L‘espace membres</h1>
				<p>Une fois connectée, renseigner les informations nécessaire pour que le service fonctionne.</p>
				<h2>Renseigner vos informations</h2>
				<ul>
					<li><span>Votre nom et prénom</span></li>
					<li><span>Votre numéro de portable</span></li>
					<li><span>Votre e-mail, compte Twitter, compte Facebook</span></li>
					<li><span>Le prénom de votre enfant</span></li>
				</ul>
				<div class="rond2">
				<p>2</p>
			</div>
			</section>	
			<figure>
				<img src="img/cubes.jpg" alt="">
			</figure>
		</article>
		<article  class="clearfix">
			<section>
				<h1>Configuration des Cube’z</h1>
				<p>Chaque Cube’z possède un numéro inscrit sur la face inférieur. Ce numéro vous permet de définir une activité pour ce cube. Pour personnaliser les messages rendez-vous sur l’espace membres.</p>
				</br>
				<h2>Définir une activité par cube</h2>
					<p>Une fois dans l’espace membre, ajouter une activité grâce au bouton «ajout». Vous devez donc rentrer le nom de cette activité ainsi que le numéro du Cube’z associé.</p>
					<p>Lorsque votre enfant passera le Cube’z devant le socle vous saurez donc précisément quelle activité il est en train de réaliser.</p> 
					<p>Ce système vous laisses une grande liberté de choix et par conséquent une importante précision sur votre enfant quand vous n’êtes pas à ses côtés.</p>
			</section>	
			<figure>
				<img src="img/stickers.jpg" alt="">
			</figure>
			<div class="rond3">
				<p>3</p>
			</div>
		</article>
		<article  class="clearfix">
			<section>
				<h1>L‘utilisation de Cubi’Z</h1>
				<p>Une fois configuré rien de plus facile que de se servir de Cubi’Z !</p>
				<p>Il suffit que la nounou, baby siter, sa grand-mère ou tout autre personne qui garde votre enfant passe un Cube’z devant le socle pour que vous sachiez ce qu’il est en train de faire.</p>
				<h2>Des alertes où vous le souhaitez</h2>
					<p>Vous pouvez recevoir cette alerte par SMS, par e-mail ou encore via Twitter !</p>
					<p>Il ne vous aura jamais été aussi simple d’être proche de votre enfant. Même quand vous n’êtes pas physiquement avec votre enfant vous restée êtes connectés.</p> 
			</section>	
			<figure>
				<img src="img/main-cube.jpg" alt="">
			</figure>
			<div class="rond4">
				<p>4</p>
			</div>
		</article>
		<article  class="clearfix">
			<section>
				<h1>C’est comme si vous y étiez</h1>
				<p>Vous recevez instantanément une alerte (SMS, e-mail, Twitter) une fois le Cube’z checké.</p>
				<h2>Ne perdez jamais de vu votre enfant</h2>
					<p>Grâce à l’interface membres vous pouvez voir toutes les activités de votre enfant de façon chronologique. </p>
			</section>	
			<figure>
			<!-- dessin du téléphone -->	
				<div id="telephone">
					<div id="ecran">
						<div id="bulle-telephone">
							<span>Maman, je te fais un dessin. Je t'aime !</span>
						</div>
					</div>	
					<div id="bouton">
					</div>
				</div>
			</figure>
		</article>
	</div>
	<footer>
		<nav>
			<ul>
				<a href="#" title=""><li>FAQ</li></a>
				<a href="#" title=""><li>Mentions légales</li></a>
				<a href="#" title=""><li>Site Map</li></a>
				<a href="#" title=""><li>Des suggestions ?</li></a>
				<a href="#" title=""><li>Nous contacter</li></a>
			</ul>
		</nav>	
	</footer>		
</div>	
