<div id="content">
	<div id="home">
		
	<article  class="clearfix pair nuage ludo">
		<div class="wrapper">
			<section>
				<h1>Qu’est-ce que Cubi’z</h1>
				<p>Cubi’z est un objet de communication ludo-éducatif pour les tout petits. Il vous permet de recevoir des messages de la part de vos plus jeunes enfants de manière simple et directe.</p>
			</section>	
			<figure class="socle img7">
			</figure>
		</div>
	</article>
	
	<article  class="clearfix impair permanence">
		<div class="wrapper">
			<section>
				<h1>Un objet ludo-pédagogique</h1>
				<p>Via l’outil Cubi’z, vos enfants apprennent à communiquer par association d’une image à une action. Sur chaque cube est positionné un autocollant qui correspond à une activité de son quotidien. L’objectif pour lui est donc de placer le bon cube sur le socle Cubi’z selon l’activité qu’il aura achevé.</p>
			</section>	
			<figure class="img8">
			</figure>
		</div>	
	</article>
	
	<article  class="clearfix pair nuage commesi">
		<div class="wrapper">
			<section>
				<h1>Configurez et recevez les messages de vos enfants</h1>
				<p>Lorsque l’un de vos enfants place un cube sur le socle, vous recevez un message directement sur la ou les applications de votre choix (Twitter, Email, SMS). Via votre espace maman, vous pouvez configurer les messages de chaque cube afin de les faire correspondre aux activités de vos enfants.</p>

			</section>		
			<figure class="img9">
			</figure>
		</div><!-- fermeture wrapper -->
	</article>
	
	<article  class="clearfix impair">
		<div class="wrapper">
			<section>
				<h1>Cubi’z est fait pour vous</h1>
				<p>Acheter Cubi’z c’est faire cohabiter profession et affection, éducation et communication, technologie et cubes !</p>
				<a href="fonctionnement.html" title="page fonctionnement" class="bouton-produit"><img src="img/obtenir-produit.png" alt="obtenir produit"></a>
			</section>	
			<figure class="img10">
			</figure>
		</div>	
	</article>
</div>	<!-- fermeture div home -->	
</div>	<!-- fermeture div content -->