<div class="wrapper">
	<div id="content">
		<article  class="clearfix cubiz">
			<h1>Le Cubi'z</h1>
			<section>	
				<p>Cubi’Z est une socle qui permet de rester connecté avec vos enfants même quand vous n’êtes pas avec eux !</p>
				<p class="connectee">Restez connectée avec vos enfants<p>
				</br>
			</section>	
			<figure class="img1">
			</figure>
			<div></div>
		</article>
		<article  class="clearfix impair">
			<section>
				<h1>Un outil ludique</h1>
				<p>Grâce à Cubi’Z votre enfant apprend à communiquer avec vous. En reconnaissant chaque Cub’Z, il apprend à vous donner une information avec le bon objet.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo dui, ullamcorper ac mattis non, sollicitudin ut risus. Donec mi est, mattis et tristique a, placerat hendrerit lorem. Aliquam consectetur convallis nisl non hendrerit. Nulla facilisi. Sed euismod ultricies diam, non ornare augue tincidunt vitae. Maecenas at diam erat. Phasellus in nulla sit amet purus </p>
				<ul>
					<li><a>Voir son fonctionnement</a></li>
				</ul>
				</br>
			</section>	
			<figure class="img2">
			</figure>
		</article>
		<article  class="clearfix pair">
			<section>
				<h1>Être informée en permanence</h1>
				<p>Quand vous êtes au bureau, en sortie entre copines, en train de faire du shopping ou encore en diné romantique avec votre homme soyez informer en permanence de ce que fait votre enfant.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo dui, ullamcorper ac mattis non, sollicitudin ut risus. Donec mi est, mattis et tristique a, placerat hendrerit lorem. Aliquam consectetur convallis nisl non hendrerit. Nulla facilisi. Sed euismod ultricies diam, non ornare augue tincidunt vitae. Maecenas at diam erat. Phasellus in nulla sit amet purus </p>
				<ul>
					<li><a>Voir votre espace maman</a></li>
				</ul>
				</br>
			</section>	
			<figure class="img3">
			</figure>
		</article>
		<article  class="clearfix impair">
			<section class="centre">
				<h1>Comme si vous y étiez</h1>
				<p>Maintenant vous pouvez savoir ce qu’il se passe quand vous n’êtes pas là ! fini les inquiétudes, plus de culpabilité.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo dui, ullamcorper ac mattis non consectetur vestibulum ut eu leo. Integer a ligula urna, ut porttitor massa.</p>
				</br>
			</section>	
			<figure class="img4">
			</figure>
			<div class="img6">
				<p>Obtenir votre Cubi'Z</p>
			</div>
		</article>
	</div>
</div>