<form action="/login" method="post" autocomplete="on">
	<p><span>Mail</span></p>
	<input type="email" name="mail" value="" class="champ">
	<p><span>Mot de passe</span></p>		
	<input type="password" name="password" value="" class="champ">
	<input type="submit" value="loggez-vous!" class="valid"/>
</form>
