<div class="wrapper">
	<div id="content">
	<br />
	<br />
	<h1>Mentions légales</h1>
	<h2>Editeurs :</h2>
	<p>Conformément à l’article 43-10 de la loi du 1er septembre 1986 relative à la liberté de communication (modifié par la loi L200-719 du 1er août 2000), vous êtes informé que vous vous trouvez actuellement sur le site Web Cubiz.fr édité par l’équipe 04 de la promotion 2014 de l’école HETIC.<br />
	Le site Cubiz.fr a été réalisé afin de diffuser et promouvoir le jouet électronique pour enfants Cubi’Z.</p>	
	<br />
	<h2>Droits de propriété intellectuelle :</h2>
	<p>La présentation et le contenu du présent site constituent, ensemble, une œuvre protégée par les lois en vigueur sur la propriété intellectuelle, dont l’équipe 04 de la H3P2014 est titulaire. L’usage ou la reproduction, même partielle, des textes, photos ou graphismes qu’il contient sont interdits sans l’accord préalable et écrit de l’équipe 04 de la H3P2014, et seraient susceptibles d’en constituer la contrefaçon. De même, toute reproduction, représentation, adaptation, traduction, et ou modification, partielle ou intégrale, ou transfert vers un autre site sont interdits.</p>
	<p>Conformément à l’article L.122-4 du Code de la Propriété Intellectuelle, « toute représentation ou reproduction intégrale ou partielle faite sans le consentement de l’auteur ou de ses ayants-droit ou ayants-cause est illicite. Il en est de même pour la traduction, l’adaptation ou la transformation, l’arrangement ou la reproduction par un art ou un procédé quelconque ».</p>
	<p>L’équipe 04 de la H3P2014 rappelle que les éléments figurant sur ce site peuvent être consultés librement à des fins privées, ou d’information, ou pédagogiques. Toutes autres formes d’exploitation de ceux-ci constitueraient des actes de contrefaçon des droits de leurs auteurs, prévus et réprimés par les articles L335-4 et suivants du Code de la Propriété Intellectuelle. </p>
	<p>Conformément à l’article L342-1 du Code de la Propriété Intellectuelle, l’équipe 04 de la H3P2014 interdit l’extraction par transfert permanent ou temporaire sur tous supports, par tous moyens, et sous quelque forme que ce soit de la totalité ou d’une partie substantielle du contenu de ce site, sauf si ces opérations sont effectuées à des fins purement privées, ou d’information, ou pédagogiques. Il interdit aussi la réutilisation, par la mise à disposition du public quelle qu’en soit la forme, de la totalité ou d’une partie seulement du contenu de ce site ou de chacun des éléments le constituant.</p>	
	<br />
	<h2>Cookies :</h2>
	<p>L’utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement et être conservé temporairement. Un cookie est un élément qui ne permet pas d’identifier l’utilisateur mais sert à enregistrer des informations relatives à la navigation de celui-ci sur le site internet. Les utilisateurs du site reconnaissent avoir été informés de cette pratique et autorisent Cubiz.fr à l’employer. Ils pourront désactiver ce cookie par l’intermédiaire des paramètres figurant au sein de leur logiciel de navigation.</p>	
	<br />
	<h2>Directeur de la Publication :</h2>
	<p>Équipe 04 - H3P2014.</p>	
	<br />
	<h2>Nous contacter :</h2>
	<p><a href="mailto:contact@cubiz.com">contact@cubiz.com</a> ou <a href="mailto:contact.cubiz@gmail.com">contact.cubiz@gmail.com</a></p>	
		
		
		
	</div>		
</div>