	<div id="content" class="wrapper clearfix ">
		<span><b>Bonjour <%= prenom %></b>, bienvenue sur votre espace maman.</span>

		<section class="clearfix colonnes">
	
				<div class="box-actu">
					Vous n'avez pas encore de message.
				</div>

<!-- Bouton pour avoir des actus plus anciennes -->	
			<a href="" title="actualités plus anciennes"><span class="bouton-actus"></span></a>		
		</section>
		<section class="colonnes">
			<div class="pub">
				<span>PUB ICI</span>
			</div>	
		</section>	
	</div>	
	<footer>
		<div class="wrapper">
			<nav>
				<ul>
					<li><a href="#" title="">FAQ</a></li>
					<li><a href="#" title="">Mentions légales</a></li>
					<li><a href="#" title="">Fonctionnement</a></li>
					<li><a href="#" title="">Des suggestions ?</a></li>
					<li><a href="#" title="">Nous contacter</a></li>
				</ul>
				<ul>
					<li><a href="#" title="">Accueil</a></li>
					<li><a href="#" title="">Produit</a></li>
					<li><a href="#" title="">Fonctionnement</a></li>
					<li><a href="#" title="">Nous contacter</a></li>
				</ul>
				<ul>
					<li><a href="#" title="">Mes actualités</a></li>
					<li><a href="#" title="">Mes infos</a></li>
					<li><a href="#" title="">Mes cub'z</a></li>
				</ul>
			</nav>	
		</div>	
	</footer>		
</div>	
