<div id="content" class="wrapper">
	<h2>Mes cub'z</h2><span> - Cliquer l'encart pour modifier le message</span>
<section class="colonnes">
	<div class="pub">
		<a href="http://www.evian.fr/" title='verbaudet'><img src="img/evian.jpg" alt="publicité nestlé"></a>
	</div>	
</section>
	<section class="clearfix">
		<div class="colonnes" id="mescubes">
			<% for(var i=0; i<cubes.length; i++) { %>
				<div class="boitecube" id="<%- cubes[i]._id %>">
					<span class="groscube <%- cubes[i].couleur %>"></span>
					<div class="cubedetail">
						<p><%- cubes[i].contenu %></p>
						
					</div>
					<div id="supportcube">
					<span class="twitter cercle-social-afficher"></span>
					<span class="mail cercle-social-masquer"></span>
					<span class="sms cercle-social-masquer"></span>
					</div>
					<div class="ecrit"></div>
				</div>
			<% } %>
			<span id="ajoutpack"><a href="#" title="Ajouter un pack">Ajouter un pack</a></span>	
		</div>
	</section>		
</div>	
