<div id="content" class="wrapper">
	<h1>MES CUB'Z</h1><span> - Cliquer l'encart pour modifier le message</span>
	<section class="clearfix">
		<div class="colonnes">
			<% for(var i=0; i<cubes.length; i++) { %>
				<div class="box">
					<span class="cube <%- cubes[i].couleur %>"></span>
					<p><%- cubes[i].contenu %></p>
					<span class="twitter cercle-social-afficher"></span>
					<span class="mail cercle-social-masquer"></span>
					<span class="sms cercle-social-masquer"></span>
				</div>
			<% } %>
		</div>
	</section>
<span><a href="#" title="Ajouter un pack">Ajouter un pack</a></span>				
</div>	
