<br/>
<br/>
	<div id="content" class="wrapper">
	<h1>Plan du site</h1>
		<h2>Partie produit</h2>
		<ul class="sitemap">
			<li><a href="index.html" title="accueil">Accueil</a></li>
			<li><a href="fonctionnement.html" title="fonctionnement">Fonctionnement</a></li>
			<li><a href="produits.html" title="produits">Produits</li>
			<li><a href="#" title="accueil">Votre espace maman</a></li>
			<li><a href="contact.html" title="accueil">Contact</a></li>
		</ul>
		<h2>Espace maman</h2>	
		<ul class="sitemap">
			<li><a href="#" title="accueil">Mes actualités</a></li>
			<li><a href="#" title="accueil">Mes Cub'Z</a></li>
			<li><a href="#" title="accueil">Mes infos</a></li>
		</ul>
	</div>