<div class="wrapper">
	<div id="content">
		<article  class="clearfix impair">
			<section class="promo">
				<h1>Le Cubi'z</h1>
				<p>Le socle Cubzy est la plateforme qui permet de communiquer avec votre enfant. Il reconnait les objets qui lui sont posés dessus grâce à la technologie RFID, et génère un message spécifique à l’activité du cube. Vous recevez ainsi ce que fait votre enfant sur votre mobile, compte Twitter ou compte Facebook.</p>
				<p>Soucieux de l’environnement le socle est fait avec un matériaux non polluant créant ainsi un avenir meilleur pour vos enfants ! </p>
				<h2>Les caractéristiques</h2>
				<ul>
					<li><span>Dimensions : 25x25x20 cm</span></li>
					<li><span>Poids : 650 grammes</span></li>
					<li><span>Connexion wifi</span></li>
					<li><span>Prix : 99,99€</span></li>
					<li class="eco">(dont 1€ de taxe écologique)</li>
				</ul>
				</br>
				<a href="#" class="acheter">Acheter</a>
			</section>	
			<figure>
				<img src="img/socle.jpg" alt="">
			</figure>
		</article>
		<article  class="clearfix pair">
			<section>
				<h1>Les Cub’z</h1>
				<p>Les cub’z vont être le moyen de savoir ce que fait votre enfant. Chaque cub’z correspond à une activité qui peut être prédéfinie ou que vous pouvez personnaliser vous même via l’interface de gestion du site.</p>
				<p>En posant le cub’z sur le socle, celui-ci reconnait l’activité, l’enregistre et vous l’envoi.</p>
				<h2>Les caractéristiques</h2>
				<ul>
					<li><span>Dimensions : 8x8x8cm</span></li>
					<li><span>Poids : 50 grammes</span></li>
					<li><span>Couleurs: Rouge, bleu, vert, jaune, orange, violet, blanc, noir</span></li>
					<li><span>Prix : 4,99€ (prix unitaire)</span></li>
					<li class="eco">(dont 1€ de taxe écologique)</li>
				</ul>
				</br>
				<a href="#" class="acheter">Acheter</a>
			</section>	
			<figure>
				<img src="img/cubes.jpg" alt="">
			</figure>
		</article>
		<article  class="clearfix impair">
			<section>
				<h1>Les Stick’z</h1>
				<p>Les sticks sont des aimants que vous pouvez fixer sur les cub’z. Un pictogramme est présent sur chaque aimant, celui-ci permettant de définir une activité pour un cub’z. Ils permettent aussi aux parents mais également à l’enfant de reconnaître l’activité.</p>
				<p>Il existe des stick’z prédéfinis mais également des stick’z vierge sur lesquels vous pouvez dessiner ou écrire n’importe quelle activité. </p>
				<h2>Les caractéristiques</h2>
				<ul>
					<li><span>Dimensions : 8x8x1 cm</span></li>
					<li><span>Poids : 10 grammes</span></li>
					<li><span>Prix : 9,99€</span></li>
					<li class="eco">(dont 1€ de taxe écologique)</li>
				</ul>
				</br>
				<a href="#" class="acheter">Acheter</a>
			</section>	
			<figure>
				<img src="img/stickers.jpg" alt="">
			</figure>
		</article>
	</div>
</div>