/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: ; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

/*hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }*/

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */






/* ==================
   Initializr Theme
   ================== */
/* Kewl Script Font */
@font-face {
font-family: KewlScript;
src: url("../assets/fonts/KewlScript.otf") format("opentype");
}
@font-face {
font-family: DINNeuzeitGroteskStd-Light;
src: url("../assets/fonts/DINNeuzeitGroteskStd-Light.otf") format("opentype");
}
@font-face {
font-family: Conga;
src: url("../assets/fonts/CongaBravaStencilStd-Reg.otf") format("opentype");
}

body{
	font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #fff;
	text-align: justify;
	}

a{
	color:#ffa8a8;
	text-decoration:none;
}


/* boite de login*/
#login {
	position: fixed;
	height: 28px;
	background-color: #ffa8a8;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	left: 65%;
	z-index:3;
	padding: 0px 10px 0px 10px;
}
#login ul {
	padding : 0px;
	margin-top: 0.7em;
}
#login ul li{
	display: block;
	float: left;
}
#login a{
	text-decoration: none;
	font-family: DINNeuzeitGroteskStd-Light;
	font-size: 1em;
	color: #f74e4e;
}
#barre-login {
	float: left;
	width: 1px;
	height: 15px;
	background-color: #f95656;
	border-right: solid 1px white;
	margin-left: 10px;
	margin-right: 10px;
}

/* navigation */
/* mise en place du logo */

header span{
	float: left;
	font-size: 2.75em;
	font-family: kewlScript;
	text-align: center;
	width: 180px;
	padding: 30px 0px 0px 8px;
	color: #08b1b1;
}
/* navigation */
#barre-haut{
	height:20px;
	background-color:#fa5068;
	z-index:2;
}
#barre-haut a{
	color:#d5eef3;
	float:right;
	text-decoration:none;
	line-height:20px;
}
header {
background: url('../assets/img/nuage_rose.png') repeat-x left 20px;
height: 145px;
}
header nav{
	margin: 0px auto;
	padding-top:60px;
}
header nav ul{
	float:right;
}
header nav li{
	display: inline-block;
	padding-right: 30px;
	color: #5dc9e0;
}
header nav a {
font-size: 1.5em;
text-decoration: none;
font-family: Conga;
padding-left: 35px;
position: relative;
z-index: 2;
top: 4px;
left: 5px;
color: #fb5169;
line-height: 32px;
display: inline-block;
height: 22px;
}
header nav a:visited{
	color: #fb5169;
}
header nav li:before {
	content:"";
	position:absolute;
	z-index:1;
	background-color: #2696ac;
	height: 32px;
	width: 32px;
	   -moz-border-radius:75px;
	-webkit-border-radius: 75px;
	        border-radius: 75px;
}
header nav li:before {
	content:"";
	position:absolute;
	z-index:1;
	background-color: #ff5f6e;
	height: 32px;
	width: 32px;
	-moz-border-radius:75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	
}

header nav li+li:before {
	background-image: url('../assets/img/icones-menu-front.png');
	background-position: 5px 5px;
	background-repeat: no-repeat;
}

header nav li+li+li:before {
	background-image: url('../assets/img/icones-menu-front.png');
	background-position: 7px -28px;
	background-repeat: no-repeat;
}

header nav li+li+li+li:before {
	background-image: url('../assets/img/icones-menu-front.png');
	background-position: 7px -59px;
	background-repeat: no-repeat;
}

header nav li+li+li+li+li:before {
	background-image: url('../assets/img/icones-menu-front.png');
	background-position: 5px -87px;
	background-repeat: no-repeat;
}

header nav li:before {
	background-image: url('../assets/img/icones-menu-front.png');
	background-position: 6px -114px;
	background-repeat: no-repeat;
}

/* logo */

header .logo{
	position: absolute;
	top: -30px;
	}

/* mise en forme du footer */
/* footer */
footer nav a {
	color: #fafafa;
	font-family: verdana;
	font-size: 1em;
	text-decoration: none;
	padding-left: 5%;
	padding-top: 30px;
}
footer nav{
	margin:0 auto;
	max-width:800px;
}
footer nav a:visited {
	color: #fafafa;
}
#bgfooter{
	margin-top:20px;
	content:'';
	display:block;
	height:100px;
	width:100%;
	background: url('../assets/img/nuage_footer_rose.png') repeat-x left center;
	position:relative;
	bottom:0px;
	z-index:1;
}
footer {
	position:absolute;
	padding-top: 7px;
	padding-bottom: 7px;
	height: 20px;
	background-color: #ff5765;
	bottom:0px;
	width:100%;
	z-index:3;
}
.wrapper {
	margin:0 auto;
	max-width:960px;
	width: 100%;
}



/* dessin du téléphone*/
#telephone {
	width: 180px;
	height: 310px;
	background-color: #6ab8ca;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	padding-top: 10px;
}
#telephone {
	width: 180px;
	height: 310px;
	background-color: #6ab8ca;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	padding-top: 10px;
}
#telephone {
	width: 180px;
	height: 310px;
	background-color: #6ab8ca;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	padding-top: 10px;
	margin-left: 160px;
	margin-top: -80px;
}
/* dessin du téléphone*/
#ecran {
	width: 160px;
	height: 260px;
	background-color: #f0f0f0;
	margin: auto;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
#bouton {
	background-color: #f0f0f0;
	height: 28px;
	width: 28px;
	-moz-border-radius:75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	margin: auto;
	margin-top: 10px;
}

/* dessin de la bulle*/
#bulle-telephone {
	position:absolute;
	color:#107a92;
	background-color: #93e1f3;
	-webkit-border-radius:10px 10px 10px 0px;
	-moz-border-radius:10px 10px 10px 0px;
	border-radius:10px 10px 10px 0px;
	width: 125px;
	height: 40px;
	padding: 5px;
	margin-left: 13px;
	margin-top: 20px;
	}	
#bulle-telephone:after {
	content:"";
	position:absolute;
	bottom:-15px; 
	border-width: 15px 15px 0px 5px;
	border-style:solid;
	border-color:#93e1f3 transparent;
	left: 0;
	display:block; 
	width:0;
	}

/*Contenu*/
article{
	color: #616161;
	width: 95%;
	padding: 27px;
	}

article section{
	width: 495px;
	display: inline-block;
	}
article figure{
	height: 300px;
	float: right;
	position: relative;
	top: 130px;
	}
	
article figure.socle
{
	position: relative;
	top: 140px;	
}
article.impair section{
	float: left;
	}
article.pair section{
	float: right;
	}
article.impair figure{
	float: right;
	}
article.pair figure{
	float: left;
	}

article.impair figure{
	float: right;
	}
article.pair figure{
	float: left;	
	}
	
.info section
{
	background-color: #ff435e;
	width: 100%;
}	

.info h1, .info p, info.span
{
	color: white;
}	

h3{
	color: #6e6465;
	font-size: 13px;
	margin-bottom: 19px;
	margin-left: 40px;
	}	


h2{
	color: #4c4c4c;
	font-size: 24px;
	font-family: KewlScript;
	margin-bottom: 19px;
	}
h1{
	color: #f74e4e;
	border-left: 4px solid #f74e4e;
	padding-left: 13px;
	font-family: KewlScript;
	font-size: 36px;
	}
article ul{
	color: #f67c78;
	padding-left: 35px;
	font-size: 12px;
	}
	
/*article:first-child{
	background-color: #f5eadc;
	-moz-border-radius:15px;
	-webkit-border-radius: 15px;
	border: 1px solid #999999;
}*/
article ul li span{
	color: #616161;
	}
article ul li.eco{
	color: #8fb551;
	list-style-type: none;
	font-style:italic;
	font-size: 11px;
	padding-left: 10px;
	}
article ul li.eco:before{
	content:"";
	height: 16px;
	width: 10px;
	background-image: url("../assets/img/eco.png"); 
	position: absolute;
	margin-left: -12px;
	}
section a.acheter{ 
	margin-top: 10px;
	font-family: KewlScript;
	text-decoration: none;
	color: white;
	font-size: 24px;
	padding: 5px 100px 0px 100px;
	-moz-border-radius:15px;
	-webkit-border-radius: 15px;
	background-image: linear-gradient(bottom, #f94f68 65%, #fa5f76 0%);
	background-image: -o-linear-gradient(bottom, #f94f68 65%, #fa5f76 0%);
	background-image: -moz-linear-gradient(bottom, #f94f68 65%, #fa5f76 0%);
	background-image: -webkit-linear-gradient(bottom, #f94f68 65%,#fa5f76 0%);
	background-image: -ms-linear-gradient(bottom, #f94f68 65%, #fa5f760%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.65,#f94f68),color-stop(0, #fa5f76));
	}
section a.acheter:hover{ 
	background-image: linear-gradient(bottom, #fa5f76 65%, #f94f68 0%);
	background-image: -o-linear-gradient(bottom, #fa5f76 65%, #f94f68 0%);
	background-image: -moz-linear-gradient(bottom, #fa5f76 65%, #f94f68 0%);
	background-image: -webkit-linear-gradient(bottom, #fa5f76 65%,#f94f68 0%);
	background-image: -ms-linear-gradient(bottom, #fa5f76 65%, #f94f68 60%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.65,#fa5f76),color-stop(0, #f94f68));
	}

/*fenetre fonctionnement*/


div.fenetre
{
	background-color: #9dc6d5;
	-moz-border-radius:15px;
	-webkit-border-radius: 15px;
	width: 390px;
	height: 255px;
	position:relative;
	font-family: verdana;
}

div.fenetre h1
{
	text-align: center;
	font-family: KewlScript;
	font-size: 36px;
	padding-top: 15px;
	color: #f74e4e;
}		

p.titrechamp1
{
	text-indent: 25px;
	font-size: 14px;
	padding-top: 20px;
	color: #f74e4e;
	position:relative;
	bottom: 20px;
	padding-top: 0px;
}		

div.fenetre p span
{
	font-style:italic;
}	
	
div.champ1
{
	background-color: #ebf4f7;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	height: 35px;
	color: #b5b5b5;
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	bottom: 30px;
}

div.champ1 p
{
	color: #b5b5b5;
	font-size: 14px;
	line-height: 35px;
	text-indent: 10px;
}

div.champ2
{
	background-color: #ebf4f7;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	height: 35px;
	color: #b5b5b5;
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	bottom: 50px;
}

p.titrechamp2
{
	text-indent: 25px;
	font-size: 14px;
	padding-top: 20px;
	color: #f74e4e;
	position:relative;
	bottom: 40px;
	padding-top: 0px;
}

div.champ2 p
{
	color: #b5b5b5;
	font-size: 14px;
	line-height: 35px;
	text-indent: 10px;
}

p.mdp
{
	text-indent: 25px;
	position:relative;
	bottom: 60px;
	font-style:italic;
	color: #0e768e;
}

div.valider p
{
	position:relative;
	color: white;
	background-color: #df6e73;
	bottom: 75px;
	margin-left: 20px;
	margin-right: 20px;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	height: 30px;
	text-align: center;
	font-family: KewlScript;
	font-size: 24px;
	line-height: 40px;
}

div.icone2
{
	width: 30px;
	height: 30px;
	-moz-border-radius:30px;
	-webkit-border-radius: 30px;
	background-color: #df6e73;
	position: relative;
	left: 372px;
	bottom: 455px;
}

div.icone2 p
{
	color: white;
	font-size: 20px;
	position: relative;
	left: 7px;
	top: 2px;
}

div.icone1
{
	width: 85px;
	height: 85px;
	-moz-border-radius:50px;
	-webkit-border-radius: 50px;
	background-color: #5ba2b1;
	position: relative;
	bottom: 370px;
	right: 40px;
	background-image: url('../assets/img/icone.png');
	background-repeat: no-repeat;
	background-position: center;
}

	
/* ronds avec numero à l'intérieur */


div.rond1, div.rond2, div.rond3, div.rond4, div.rond5, div.rond6
{
	width: 50px;
	height: 50px;
	background-color:#f66969;
	-moz-border-radius: 75px;  
	-webkit-border-radius: 75px;  
	border-radius: 75px;
} 

div.rond1
{
	position: relative;
	top: 50px;
	left: 95%;
} 

div.rond2
{
	position: relative;
	bottom: 285px;
	right: 420px;
} 

div.rond3
{
	position: relative;
	bottom: -70px;
	left: 865px;
} 

div.rond4
{
	position: relative;
	top: 60px;
	left: 40px;
} 

div.rond5
{
	position: relative;
	top: 10px;
	left: 830px;
} 

div.rond6
{
	position: relative;
	top: 10px;
	left: 10px;
} 


/* liaison numéro de série */

div.serie
{
	height: 200px;
	width: 400px;
	border-bottom: 1px solid #f66969;
	border-right: 1px solid #f66969;
	position: relative;
	right: 205px;
	bottom: 17px;
	float: right;
}

div.serie p
{
	padding: 10px;
	color: #f74e4e;
	border: 2px solid #fbc2c1;
	background-color: #f3e4e3;
	width: 220px;
	position: absolute;
	text-align: center;
	font-size: 18px;
	top: 160px;
	left: 200px;
	-moz-border-radius: 15px;  
	-webkit-border-radius: 15px; 
}

div.cercle1, div.cercle2
{
	width: 45px;
	height: 45px;
	background-color:#f66969;
	border: solid 2px #f3f3f3;
	-moz-border-radius: 75px;  
	-webkit-border-radius: 75px;  
	border-radius: 75px;
	z-index: 15;
} 

div.cercle1
{
	position: relative;
	bottom: 335px;
	left: 360px;
} 

div.cercle2
{
	position: relative;
	top: 220px;
	left: 78%;
} 
/* Sitemap */
ul.sitemap{
padding-left: 10px;
}
ul.sitemap li{
list-style-type:none;
padding-bottom: 12px;
}
 ul.sitemap li a {
    text-decoration: none;
    list-style-type: none;
    color: #268a9f;
    font-size: 12px;
    font-size: 1.1em;
}

/* mise en forme du formulaire de contact */
form p.double {
	/* Empêcher le dépassement des flottants */
	overflow: hidden;
	/* Idem pour IE6 */
	width: 100%;
	font-size: 13px;
	font-style: italic;
}
form p.double label {
	width: 150px;
	text-align: left;
	font-weight: bold;
	color: #ff5f6e;
	margin-left: 5px;
	margin-left: 40px;
}

input[type="submit"] {
    margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
	height: 33px;
	color: white;
	font-size: 16px;
	font-family: DINNeuzeitGroteskStd-Light;
	padding: 0px 100px 0px 100px;
	-moz-border-radius:15px;
	-webkit-border-radius: 15px;
	background-image: linear-gradient(bottom, #f94f68 65%, #fa5f76 0%);
	background-image: -o-linear-gradient(bottom, #f94f68 65%, #fa5f76 0%);
	background-image: -moz-linear-gradient(bottom, #f94f68 65%, #fa5f76 0%);
	background-image: -webkit-linear-gradient(bottom, #f94f68 65%,#fa5f76 0%);
	background-image: -ms-linear-gradient(bottom, #f94f68 65%, #fa5f760%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.65,#f94f68),color-stop(0, #fa5f76));
}
input[type="submit"]:hover{ 
	background-image: linear-gradient(bottom, #fa5f76 65%, #f94f68 0%);
	background-image: -o-linear-gradient(bottom, #fa5f76 65%, #f94f68 0%);
	background-image: -moz-linear-gradient(bottom, #fa5f76 65%, #f94f68 0%);
	background-image: -webkit-linear-gradient(bottom, #fa5f76 65%,#f94f68 0%);
	background-image: -ms-linear-gradient(bottom, #fa5f76 65%, #f94f68 60%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.65,#fa5f76),color-stop(0, #f94f68));
}

input{
    -moz-border-radius: 10px;  
	-webkit-border-radius: 10px; 
	background-color: #f3e3e6;
    display:inline-block;
    width:300px;
	height:30px;
	border-top: 1px solid #f7c8cd ;
	border-left: none;
	margin-left: 40px;
 }
 
input[type="text"], input[type="email"]{
	color: #c0c0c0;
	font-style: italic;
	text-indent: 9px;
 }

 textarea {
    -moz-border-radius: 10px;  
	-webkit-border-radius: 10px; 
	background-color: #f3e3e6;
    display:inline-block;
    width:539px;
	height: 190px;
	border-top: 1px solid #f7c8cd ;
	border-left: none;
	margin-left: 40px;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

/*Div placeholders*/
article figure.img1
{
	width: 166px;
	height: 247px;
	background-image: url('../img/bebe.png');
	position: relative;
	left: 200px;
	top: 190px;
}

article figure.img1+div
{
	width: 159px;
	height: 368px;
	background-image: url('../img/bebe2.png');
	position: relative;
	left: -190px;
	top: -90px;
}

article figure.img2
{
	width: 395px;
	height: 268px;
	background-image: url('../img/main_cube.png');
	background-position: 20px -35px;
	background-repeat: no-repeat;
	position: relative;
	top: 0px;
}

article figure.img3
{
	width: 381px;
	height: 425px;
	background-image: url('../img/main_tel.png');
	background-position: -80px 20px;
	background-repeat: no-repeat;
	position: relative;
	top: 0px;
}

article figure.img4
{
	width: 290px;
	height: 471px;
	position: relative;
	background-image: url('../img/mere.png');
	background-repeat: no-repeat;
	top: 0px;
	float: right;
}

article div.img6
{
	height: 160px;
	width: 160px;
	background-image: url('../img/bouton.png');
	background-repeat: no-repeat;
	-moz-border-radius:90px;
	-webkit-border-radius:90px;
	position: relative;
	left: 350px;
	top: 230px;
}

article div.img6 p
{
	font-size: 24px;
	width: 80px;
	color: white;
	position: relative;
	top: -170px;
	left: 45px;
	font-family: KewlScript;
	text-align: center;
}


article.cubiz
{
	width: 500px;
	height: 500px;
	background-color: #f3e3e6;
	border: 9px solid #ffc9cc;
	background-repeat: no-repeat;
	-moz-border-radius: 500px;  
	-webkit-border-radius: 500px; 
	position: relative;
	left: 205px;
}

body article.cubiz h1
{
	position: relative;
	color: #f74e4e;
	font-family: KewlScript;
	font-size: 36px;
	left: 180px;
}

article.cubiz section
{
	width: 310px;
	position: relative;
	top: 300px;
	left: 100px;
	text-align: center;
}

p.connectee 
{
	font-size: 18px;
	color: #fa5069;
	position: relative;
	left: 50px;
	bottom: 10px;
	width: 206px;
}
/*MAJ*/ 
article figure.img7
{
	width: 301px;
	height: 194px;
	background-color: lightgrey;
	position: relative;
	top: 80px;

}

article figure.img8
{
	width: 377px;
	height: 194px;
	background-color: lightgrey;
	position: relative;
	top: 100px;
}

article figure.img9
{
	width: 308px;
	height: 230px;
	background-color: lightgrey;
	position: relative;
	top: 100px;

}

article figure.img10
{
	width: 398px;
	height: 347px;
	background-color: lightgrey;
	position: relative;
	top: -25px;

}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
